In [2]:
%matplotlib inline
import pandas as pd
import numpy as np

In [3]:
# Open up our CSV files located in the /Data subfolder
NBA_salaries_df = pd.read_csv("../Data/nba_salaries_1990_to_2018.csv")
player_data_df = pd.read_csv("../Data/player_data.csv")
players_df = pd.read_csv("../Data/Players.csv")
seasons_stats_df = pd.read_csv("../Data/Seasons_Stats.csv")

In [4]:
# Glimpse of our data
NBA_salaries_df.head()

              player   salary  season_end  season_start team      team_name
0       Moses Malone  2406000        1991          1990  ATL  Atlanta Hawks
1  Dominique Wilkins  2065000        1991          1990  ATL  Atlanta Hawks
2         Jon Koncak  1550000        1991          1990  ATL  Atlanta Hawks
3         Doc Rivers   895000        1991          1990  ATL  Atlanta Hawks
4    Rumeal Robinson   800000        1991          1990  ATL  Atlanta Hawks

In [5]:
player_data_df.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [6]:
players_df.head()

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [11]:
seasons_stats_df.head()

,Unnamed: 0,Year,Age,G,GS,MP,PER,TS%,3PAr,FTr,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,15117.000000,15117.000000,15117.000000,15117.000000,15117.000000,15117.000000,15112.000000,15046.000000,15037.000000,15037.000000,...,14474.000000,15117.000000,15117.000000,15117.000000,15117.000000,15117.000000,15117.000000,15117.000000,15117.000000,15117.000000
mean,17119.208639,2004.208639,26.980419,48.359727,23.121585,1131.627770,12.409880,0.503097,0.188216,0.314226,...,0.720195,55.940927,140.936495,196.877423,104.149567,36.838328,23.109678,67.297943,101.994576,463.058676
std,4372.036618,8.001439,4.149800,26.479480,28.266137,916.677843,6.289706,0.096247,0.195497,0.235232,...,0.150254,62.816017,139.494795,196.629275,132.327154,36.084316,34.770900,63.033669,76.958159,463.366609
min,9547.000000,1990.000000,18.000000,1.000000,0.000000,0.000000,-90.600000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13333.000000,1997.000000,24.000000,25.000000,0.000000,292.000000,9.600000,0.471000,0.007000,0.190000,...,0.654000,10.000000,31.000000,44.000000,15.000000,8.000000,3.000000,16.000000,32.000000,87.000000
50%,17120.000000,2005.000000,26.000000,52.000000,8.000000,941.000000,12.600000,0.516000,0.132000,0.280000,...,0.749000,33.000000,102.000000,139.000000,56.000000,27.000000,11.000000,50.000000,92.000000,317.000000
75%,20905.000000,2011.000000,30.000000,74.000000,43.000000,1838.000000,15.600000,0.551000,0.332000,0.390000,...,0.815000,80.000000,206.000000,286.000000,141.000000,55.000000,28.000000,102.000000,159.000000,714.000000
max,24690.000000,2017.000000,44.000000,85.000000,83.000000,3533.000000,129.100000,1.136000,1.000000,6.000000,...,1.000000,523.000000,1007.000000,1530.000000,1164.000000,246.000000,376.000000,464.000000,371.000000,2832.000000

# Data cleaning

In [37]:
seasons_stats_df = seasons_stats_df[seasons_stats_df['Year'] == 2016]
body_stats_df = players_df[["Player", "height", "weight"]]
features_df = seasons_stats_df.merge(body_stats_df, left_on="Player", right_on="Player")
features_df = features_df.merge(NBA_salaries_df, left_on=["Player", "Year"], right_on=["player", "season_end"])
features_df.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,PF,PTS,height,weight,player,salary,season_end,season_start,team,team_name
0,23517,2016.0,Quincy Acy,PF,25.0,SAC,59.0,29.0,876.0,14.7,...,103.0,307.0,201.0,108.0,Quincy Acy,981348,2016,2015,SAC,Sacramento Kings
1,23518,2016.0,Jordan Adams,SG,21.0,MEM,2.0,0.0,15.0,17.3,...,2.0,7.0,196.0,94.0,Jordan Adams,1404600,2016,2015,MEM,Memphis Grizzlies
2,23519,2016.0,Steven Adams,C,22.0,OKC,80.0,80.0,2014.0,15.5,...,223.0,636.0,213.0,115.0,Steven Adams,2279040,2016,2015,OKC,Oklahoma City Thunder
3,23520,2016.0,Arron Afflalo,SG,30.0,NYK,71.0,57.0,2371.0,10.9,...,142.0,909.0,196.0,95.0,Arron Afflalo,8000000,2016,2015,NYK,New York Knicks
4,23521,2016.0,Alexis Ajinca,C,27.0,NOP,59.0,17.0,861.0,13.8,...,134.0,352.0,218.0,112.0,Alexis Ajinca,4300000,2016,2015,NOH,New Orleans Pelicans

# Feature selection

In [38]:
# [G, GS, MP, PER, TS%, 3PAr, FTr, ORB%, DRB%, TRB%, AST%, STL%, BLK%, TOV%, USG%, blanl, OWS, DWS, WS, WS/48, blank2, OBPM, DBPM, BPM, VORP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS]
features = ["Pos", "Age", "AST", "STL", "BLK", "TOV", "PF", "PTS", "height", "weight"]

In [39]:
X_df = features_df[features]
y_df = features_df["salary"]
X_df = pd.concat([X_df,pd.get_dummies(X_df['Pos'], prefix='Pos')],axis=1)
X_df = X_df.drop(['Pos'], axis=1)
X_df.head()
#list(X_df.columns.values)

,Age,AST,STL,BLK,TOV,PF,PTS,height,weight,Pos_C,Pos_PF,Pos_PF-C,Pos_PG,Pos_SF,Pos_SG,Pos_SG-SF
0,25.0,27.0,29.0,24.0,27.0,103.0,307.0,201.0,108.0,0,1,0,0,0,0,0
1,21.0,3.0,3.0,0.0,2.0,2.0,7.0,196.0,94.0,0,0,0,0,0,1,0
2,22.0,62.0,42.0,89.0,84.0,223.0,636.0,213.0,115.0,1,0,0,0,0,0,0
3,30.0,144.0,25.0,10.0,82.0,142.0,909.0,196.0,95.0,0,0,0,0,0,1,0
4,27.0,31.0,19.0,36.0,54.0,134.0,352.0,218.0,112.0,1,0,0,0,0,0,0

In [43]:
X = X_df.values
y = y_df.values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

SyntaxError: invalid syntax (<ipython-input-43-1178351cad8e>, line 3)

# Baseline

'2.7.10 (default, Aug 17 2018, 19:45:58) \n[GCC 4.2.1 Compatible Apple LLVM 10.0.0 (clang-1000.0.42)]'

# Visualization